@charset "utf8";

html, body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gyeombalbal';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/insungitCutelivelyjisu.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}


.main4 {
    width: 100%;
    height: 920px;
}

.main4 a {
    color: inherit;
    text-decoration: none;
}

.main4 h1 {
    font-family: 'Gyeombalbal';
    text-align: center;
    font-size: 64px;
    padding-top: 118px;
    margin-bottom: 85px;
}

.main4 .inner {
    font-family: 'Gyeombalbal';
    line-height: 25px;
}

.main4 .swiper-slide .text {
    text-align: center;
    padding-top: 18px;
}


.section4 {
    width: 100%;
    height: 424px;
    margin-left: 23px;
    margin-bottom: 60px;
    overflow: visible;
}
.section4 .swiper-slide a {
    display: block;
    width: 100%;
    text-align: center;
}
.section4 .swiper-pagination {
    display: none;
}


.main4 .button a {
    text-decoration: none;
    color: #00A5B1;
    border: 3px solid #00A5B1;
    font-size: 20px;
    border-radius: 73px;
    display: inline-block;
    width: 100px;
    line-height: 50px;
        font-family: 'Gyeombalbal';
}


.main4 .button a:hover {
    background-color: #00A5B1;
    color: white;
}

.main4 .button {
    text-align: center;
}

.main4 .section4 .swiper-wrapper {
    transition-timing-function : linear;
}

.main4 .swiper-slide:hover img {
    transform: scale(1.05);
}

.main4 .swiper-slide .best {
    position: relative;
    display: block;
}

.main4 .swiper-slide .best::after {
    content: "";
    position: absolute;
    background: url(../images/BEST.png) no-repeat center/contain;
    width: 74px;
    height: 74px;
    top: -30px; left: -20px;
}


.main4 .swiper-slide .new::after {
    content: "";
    position: absolute;
    background: url(../images/NEW.png) no-repeat center/contain;
    width: 74px;
    height: 74px;
    top: -30px; left: -20px;
}

